<!-- <div> -->
<div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                  <h4 class="modal-title">Modal Heading</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                  <div class="table-responsive-sm">
                        <table class="table table-striped">
                              <tbody>
                                    <tr *ngFor="let key of keys">
                                          <th>{{key}}</th>
                                          <td>{{content[key]}}</td>
                                    </tr>
                              </tbody>
                        </table>
                  </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

      </div>
</div>
<!-- </div> -->