<div [class]="loader.loader">
      <div class="spinner-grow text-primary"></div>
</div>
<div [class]="loader.body">
      <app-navbar></app-navbar>
      <div class="location">{{util.getLocation()}}</div>
      <div class="root center" *ngIf="!edit">
            <div class="row">
                  <div class="col-6" style="background-color: #8BBEE8FF;">
                        <div class="col-style center">
                              <img [src]="profileIMG()" class="profile-image">
                        </div>
                  </div>
                  <div class="col-6" style="background-color:#A8D5BAFF;">
                        <button class="editButton" style="background-color: #A8D5BAFF;" (click)="editProfile()"><i
                                    class="fas fa-pen"></i></button>
                        <div class="col-style center">
                              <div class="form-group">
                                    <label for="username">Name<sup class="text-red">*</sup></label>
                                    <input type="text" [value]="userdata && userdata.name" disabled class="form-control"
                                          placeholder="">
                              </div>
                              <div class="form-group">
                                    <label for="username">Username<sup class="text-red">*</sup></label>
                                    <input type="text" [value]="userdata && userdata.username" disabled
                                          class="form-control" placeholder="">
                              </div>
                              <div class="form-group">
                                    <label for="username">Email<sup class="text-red">*</sup></label>
                                    <input type="text" [value]="userdata && userdata.email" disabled
                                          class="form-control" placeholder="">
                              </div>
                        </div>
                  </div>
            </div>
      </div>

      <div class="root" *ngIf="edit == true">
            <div class="sub-div">
                  <h4>Update Profile</h4>
                  <form [formGroup]="user">
                        <div class="custom-file">
                              <input type="file" (change)="onFileChange($event)" class="custom-file-input"
                                    placeholder="">
                              <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <div *ngIf="f.name.errors && f.name.dirty" class="text-red">
                              <div *ngIf="f.name.errors.required">
                                    name required*
                              </div>
                        </div>
                        <div class="form-group">
                              <label for="username">Name<sup class="text-red">*</sup></label>
                              <input type="text" formControlName="name" class="form-control" placeholder="Name">
                        </div>
                        <div *ngIf="f.name.errors && f.name.touched" class="text-red">
                              <div *ngIf="f.name.errors.required">
                                    name required*
                              </div>
                        </div>
                        <div class="form-group">
                              <label for="username">Email<sup class="text-red">*</sup></label>
                              <input type="email" formControlName="email" class="form-control" placeholder="Email">
                        </div>
                        <div *ngIf="f.email.errors && f.email.touched" class="text-red">
                              <div *ngIf="f.email.errors.required">
                                    email required*
                              </div>
                              <div *ngIf="f.email.errors.pattern">
                                    email invalid
                              </div>
                        </div>
                        <div class="form-group">
                              <label for="username">Username<sup class="text-red">*</sup></label>
                              <input type="text" formControlName="username" class="form-control" placeholder="Username">
                        </div>
                        <div *ngIf="f.username.errors && f.username.touched" class="text-red">
                              <div *ngIf="f.username.errors.required">
                                    username required*
                              </div>
                        </div>
                        <div class="form-group">
                              <label for="username">Password<sup class="text-red">*</sup></label>
                              <input type="password" formControlName="password" class="form-control"
                                    placeholder="Username">
                        </div>
                        <div *ngIf="f.password.errors && f.password.touched" class="text-red">
                              <div *ngIf="f.password.errors.required">
                                    password required*
                              </div>
                        </div>
                        <div class="row">
                              <div class="col">
                                    <button type="button" [disabled]="!user.dirty || user.invalid" (click)="update()"
                                          class="btn btn-success">Update</button>
                              </div>
                              <div class="col">
                                    <button type="button" (click)="editProfile()"
                                          class="btn btn-success">Cancel</button>
                              </div>
                        </div>
                  </form>
            </div>
      </div>
</div>